{% extends "layouts/default.html" %}
{% block header %}
<div class="grid setcalc">
  <h1>HELLO ASSHOLES</h1>
</div>
{% endblock %}
{% block content %}
<div id="example-wrapper">

  <div id="content-wrapper">
  		<div id="example-wrapper">
  			<div class="scrollContent">
  				<section id="titlechart">
  					<div id="description">
  						<h1 class="badge gsap">Advanced Tweening</h1>
  						<h2>ScrollMagic can handle everything TweenMax throws at it.</h2>
  						<ol>
  							<li>A tween can be repeated indefintely within the scene's duration.</li>
  							<li>A tween can be a timeline consisting of multiple tweens and even contain events attached to them.</li>
  							<li>Classnames can be tweened just as well.</li>
  							<li>Staggering and Easing are no problem either.</li>
  						</ol>
  						<p>
  							To find out more about the Greensock Animation Platform, refer to its <a href="http://greensock.com/docs/#/HTML5/" target="_blank">documentation</a>.
  						</p>
  						<a href="#" class="viewsource">view source</a>
  					</div>
  				</section>

          <section class="demo">
            <div id="parallax1" class="parallaxParent">
						  <div style="background-image: url('http://unsplash.it/1200/900'); background-repeat: no-repeat; background-size: 100% auto; background-position: 50% 50%;"></div>
					  </div>
          </section>

  				<section class="demo">
  					<div class="spacer s2"></div>
  					<div id="trigger1" class="spacer s0"></div>
  					<div id="animate1" class="box1 skin">
  						<p>tick. tack.</p>
  						<a href="#" class="viewsource">view source</a>
  					</div>
  					<div class="spacer s2"></div>
  				</section>
  				<section class="demo">
            <div id="parallax2" class="parallaxParent">
              <div style="background-image: url('http://unsplash.it/1100/700'); background-repeat: no-repeat; background-size: 100% auto; background-position: 50% 50%;"></div>
            </div>
  					<div class="spacer s1"></div>
  					<div id="trigger2" class="spacer s1"></div>
  					<div class="spacer s0"></div>
  					<div id="animate2" class="box1 red">
  						<p>Let's draw!</p>
  						<a href="#" class="viewsource">view source</a>
  					</div>
  					<div class="spacer s2"></div>
  				</section>
  				<section class="demo">
  					<style type="text/css">
  						.fish {
  							min-width: 500px;
  						}
  					</style>
  					<div class="spacer s2"></div>
  					<div id="trigger3" class="spacer s0"></div>
  					<div id="animate3" class="box2 blue">
  						<p>I caught a fish THIS big.</p>
  						<a href="#" class="viewsource">view source</a>
  					</div>
  					<div class="spacer s2"></div>
  				</section>
  				<section class="demo" style="overflow-x: hidden">
            <div id="parallax3" class="parallaxParent">
  						<div style="background-image: url('http://unsplash.it/800/1200'); background-repeat: no-repeat; background-size: 100% auto; background-position: 50% 50%;"></div>
  					</div>
  					<div class="spacer s1"></div>
  					<div id="trigger4" class="spacer s1"></div>
  					<div class="spacer s0"></div>
  					<div class="animate4 box2 black outline">
  						<p>Tchoo Tchoo!</p>
  						<a href="#" class="viewsource">view source</a>
  					</div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="animate4 box2 black outline"></div>
  					<div class="spacer s2"></div>
  				</section>
  				<div class="spacer s_viewport"></div>
  			</div>
  		</div>
  	</div>

</div>

{% endblock %}


{% block footer %}
<h1>Bye-Bye ASSHOLES</h1>
{% endblock %}
